body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    color: #333;
}


ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 15px;
    margin: 10px auto;
    width: 60%;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: left;
}

.team {
    flex: 1 1 48%; /* Maximizing the width so each team takes up less than half */
    margin: 10px 1%; /* Providing some margin to ensure space between teams */
    box-sizing: border-box; /* Includes padding and border in the width calculations */

}

.container {
    display: flex;
    flex-wrap: wrap;      /* This allows items to wrap onto the next line */
    justify-content: center; /* Spreads the items horizontally */
}