<!-- templates/header.html -->
{% load static %}
<link rel="stylesheet" href="{% static 'pages/header.css' %}">


<header class="site-header">
    <nav class="nav-bar">
        <div class="nav-left">
            <a href="{% url 'Home' %}">Home</a>
            <a href="{% url 'team_create' %}">Teams</a>
            <a href="{% url 'upload_stats' %}">Upload Stats</a>
            <a href="{% url 'Drafting' %}">Draft</a>
        </div>
        <div class="nav-right">
            <a href="{% url 'Rosters' %}">Rosters</a>
            <a href="{% url 'Matchups' %}">Matchups</a>
            <a href="{% url 'season_totals' %}">Season Totals</a>
            <a href="{% url 'Records' %}">Records</a>
        </div>
    </nav>
</header>